﻿@{
    ViewBag.Title = "Helmet Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Helmet Admin</h2>

@using (Html.BeginForm("Generate","Home", FormMethod.Post))
{
    <p>Start Year: @Html.TextBox("StartYear")</p>
    <p>End Year: @Html.TextBox("EndYear")</p>

    <p><input type="submit" value="Generate Results"/></p>
}